@model IEnumerable< TransitSystem.Models.Route>

@{
    ViewBag.Title = "Index";
}

<h2>Select a Route</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RouteName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
            <td>
                @Html.ActionLink("Start Route", "Create", new { id = item.RouteID })
            </td>
        </tr>
    }

</table>


